.main {
  color: whitesmoke;
  font-weight: bolder;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/the-office-1024x576.jpg");
  background-repeat: repeat;
}

.main h1 {
  font-size: 64px;
  text-align: center;
}

@media (min-width: 768px) {
  .main {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .main {
    background-image: none;
    color: darkslategray;
  }
  .main h1 {
    font-size: 24px;
    padding-top: 5px;
  }
}
